<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="windows-1256">
<title>Insert title here</title>
</head>
<body>
	<h3>Liste des places</h3>

	<table>
		<tr>
			<th>ID</th><th>Numero</th><th>Salle</th><th>Cinema</th><th>Ville</th>
		</tr>
		<tr th:each="p:${places}">
			<td th:text="${p.id}"></td>
			<td th:text="${p.numero}"></td>
			<td th:text="${p.salle.name}"></td>
			<td th:text="${p.salle.cinema.name}"></td>
			<td th:text="${p.salle.cinema.ville.name}"></td>
		</tr>
	</table>
</body>
</html>